---
import ButtonGoogle from "../components/button-google.astro";

const requestParam = new URLSearchParams(Astro.url.search);
const pageTitle = await fetch(`http://localhost:8080/client?${requestParam}`);
if (!pageTitle.ok) {
  throw new Error(`Failed to fetch page title: ${pageTitle.toString()}`);
}
const result = await pageTitle.json();
const appName = result?.appName;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const password = data.get("password");

    if (!name || !email || !password) {
      throw new Error("All fields are required.");
    }

    console.log("Registering user:", { name, email });
    const result = await fetch("https://auth.guimox.dev/auth/signin", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ email, password }),
    });

    if (!result.ok) {
      const errorResponse = await result.text(); // or result.json() if it returns JSON
      console.error(`API Error (${result.status}):`, errorResponse);
      throw new Error(`Registration failed: ${errorResponse}`);
    }

    const response = await result.json();
    console.log("Success:", response);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<section class="bg-gray-50 h-full dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div class="flex flex-col items-center justify-center gap-2 mb-6">
      <a
        href="#"
        class="flex items-center text-2xl font-semibold text-gray-900 dark:text-white"
      >
        {appName}
      </a>
    </div>
    <div
      class="w-full bg-white rounded shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Welcome back
        </h1>
        <form class="space-y-4 md:space-y-6" action="#">
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Email</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-gray-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@provider.com"
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-gray-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
          </div>
          <button
            type="submit"
            class="w-full hover:opacity-75 cursor-pointer text-white bg-black hover:bg-gray700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded text-sm px-5 py-3 text-center dark:bg-gray600 dark:hover:bg-gray700 dark:focus:ring-gray-800"
            >Login</button
          >
          <ButtonGoogle />
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet? <a
              href="/register"
              class="font-medium underline text-primary-600 hover:underline dark:text-primary-500"
              >Sign up</a
            >
          </p>
        </form>
      </div>
    </div>
    <a href="guimox.dev" class="mt-8 underline">guimox.dev</a>
  </div>
</section>
